.messagebox 		{position:absolute;width:100px;margin-left:30px;border:1px solid #c93;background:#ffc;padding:3px;font-family:verdana;font-size:12px }
.messageboxok 		{position:absolute;width:auto;margin-left:30px;border:1px solid #349534;background:#C9FFCA;padding:3px;font-weight:bold;color:#008000;}
.messageboxerror 	{position:absolute;width:auto;margin-left:30px;border:1px solid #CC0000;background:#F7CBCA;padding:3px;font-weight:bold;color:#CC0000;}
form.rfgform label.error, label.error {
	/* remove the next line when you have trouble in IE6 with labels in list */
	display: none;
	color: red;
	font-family: verdana;
	font-size: 12px;
}
div.cc {
	background-color: #eee;
	border: 1px solid red;
}
div.cc ol li {
	list-style:none;
	margin-left: 20px;
	margin-bottom:5px;
}
div.cc { display: none; }
.cc label.error {
	display: inline;
}
.lineThrough{
	text-decoration:line-through;	
}
