div.layout
{
	width         : 960px;
	background    : ;
	/*padding-top: 0px;
	padding-left  : 10px;
	padding-right : 10px;*/
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dd, dl, dt, li, ol, ul, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font-weight: inherit;
font-style: inherit;
font-family: inherit;
text-align: left;
vertical-align: baseline;
}

html{ font-size:100%; }

body{
font-size:1em;
/*font-family: baskerville,'palatino linotype',georgia,serif;*/
font-family: georgia,"times new roman",times,serif;
/*font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Helvetica,Arial,sans-serif;*/
color:#333333;
background:#fff;
line-height: 20px;
}
a:link,
a:visited{
color:#000;
text-decoration:none;
}
a:focus,a:hover,a:active{
text-decoration:underline;
}
.boxArticle{
	padding-top:10px;
}
.boxArticle .bigTitle{
	font-size: 1.250em;
	letter-spacing:-0.030em;
	font-weight: bold;
	border-bottom: 0.071em solid #a9a9a0;
	padding-bottom:5px;
}
.boxArticle h1{
	font-size: 0.875em;
	color: #993333;
	font-weight: bold;
	border-bottom: 0.071em solid #a9a9a0;
	padding-bottom:5px;
}
.boxArticle h2{
	font-size: 0.750em;
	font-weight: bold;
	color: #004276;
	padding-top:5px;
	line-height: 1.25em;
}
.boxArticle h2 a:link,
.boxArticle h2 a:visited{
	
	font-weight: bold;
	color: #004276;
	padding-top:5px;
}
.boxArticle p{
	font-size: 0.750em;
	line-height: 1.5em;
	padding-top:5px;
}
.boxArticle .date{
	font-family: arial,helvetica,sans-serif;
	color: #808080;
	font-size: 0.625em;
	line-height: 1.25em;
	padding-top:3px;
}

.boxListArticle{
	#padding-top:10px;
}
.boxListArticle .bigTitle{
	font-size: 1.250em;
	letter-spacing:-0.030em;
	font-weight: bold;
	border-bottom: 0.071em solid #a9a9a0;
	padding-bottom:5px;
}
.boxListArticle h1{
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	background:#f4f4f4;
	font-size: 1.250em;
	text-align: left;
	line-height: 1.250em;
	color: #993333;
	font-weight: bold;
	height:40px;
	border-bottom:1px solid #e2e2e2;
	border-top:1px solid #e2e2e2
}
.boxListArticle .boxItem{
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.boxListArticle .date{
	font-family: arial,helvetica,sans-serif;
	color: #000000;
	font-size: 0.720em;
	line-height: 0.875em;
}
.boxListArticle h2{
	font-size: 0.85em;
	font-weight: bold;
	color: #004276;
	padding-top:5px;
	line-height: 1.0em;
}
.boxListArticle h2 a:link,
.boxListArticle h2 a:visited{
	
	font-weight: bold;
	color: #004276;
	padding-top:5px;
}
.boxListArticle p{
	font-size: 0.750em;
	line-height: 1.5em;
	padding-top:5px;
	padding-left:10px;
}

.boxDetailArticle{
	padding:10px;
}
.boxDetailArticle h1{
	background:;
	font-size: 1.5em;
	text-align: left;
	line-height: 1.083em;
	color: black;
	font-weight: normal;
}
.boxDetailArticle p{
	font-size: 0.938em;
	line-height: 1.5em;
	padding-top:10px;
}
.boxDetailArticle .date{
	font-family: arial,helvetica,sans-serif;
	color: #000000;
	font-size: 0.720em;
	line-height: 0.875em;
}




.kotakisi{padding:10px;}

.kotakisi a {color:#6495ED; text-decoration:none;}
.kotakisi a:hover {color: #B79C00;text-decoration:underline;}

.kotakisi h2{
	font-size:1em;
	text-align:left;
	font-weight: bold;
	color: #004276;
	line-height:1.25em;
}
.kotakisi p{
	font-size: 0.885em;
	line-height: 1.5em;
	padding-top:2px;
}
.kotakisi .description{
	color: #333333; 
	font-size: 0.715em; 
	line-height: 16px;	
	padding-bottom: 10px; 
	font-style:italic;
}
.kotakisi .subjudul{
	color: #FF0000; 
	font-size: 11px; 
	line-height: 16px; 
	font-weight: bold; 
	padding-bottom: 5px;
}
.kotakisi .image{
	background-color: #fff; 
	padding: 2px;	
	margin: 13px 15px 13px 0px;	
	border: 1px solid #e4d09b; 
	float: left;
}
.kotakisi .imagebuku{ 
	background-color: #fff; 
	padding:2px; 
	margin: 5px 5px 5px 5px;	
	border: 1px solid #e4d09b; 
	float: left;
}
.kotakisi .fname{
	font-size: 11px;
}
.kotakisi .tanggalterbit{
	font-family: arial,helvetica,sans-serif;
	color: #808080;
	font-size: 0.625em;
	line-height: 1.25em;
	padding-top:3px;
	padding-bottom:5px;
}
.kotakisi .bb a:link,
.kotakisi .bb a:visited{
	color: #808080;
	font-size: 0.625em;
	line-height: 1.5em;
	padding-top:10px;
}
.kotakisi .author{
	font-family: arial,helvetica,sans-serif;
	color: #808080;
	font-size: 0.625em;
	line-height: 1.25em;
}
.kotakisi .bawah_info{
	padding:15px;
	border-bottom:1px solid #E5E5E5;
}
.kotakisi .detail_bawah_info{
	color:#808080;
	padding-top:5px;
	padding-bottom:5px;
	font-size:11px;
}
.detail_bawah_info_as{
	border-bottom:1px solid #E5E5E5;
	border-top:1px solid #E5E5E5;
	padding:5px;
	color:#808080;
}

.detail_bawah_info_as a {color:#000; text-decoration:none;}
.detail_bawah_info_as a:hover {text-decoration:underline;}

.kotakisi .detail_bawah_info .left{float:left;}
.kotakisi .detail_bawah_info .right{float:right;}


.votitaly-inline-rating {float:left;font-family: arial,helvetica,sans-serif;font-size: 0.625em;display:-moz-inline-block;display:-moz-inline-box;display:inline-block;vertical-align:middle;line-height:20px;padding-top:5px}
.votitaly-box {margin-left:5px;vertical-align:middle;display:inline}
.votitaly-box img.loading{vertical-align:middle}

.busear {float:right;font-family: arial,helvetica,sans-serif;font-size: 0.625em;display:-moz-inline-block;display:-moz-inline-box;display:inline-block;vertical-align:middle;line-height:10px;padding-top:5px}

.detail_bawah_info_as .ico_ft {float:left;font-family: arial,helvetica,sans-serif;font-size: 11px;}
.detail_bawah_info_as .ico_sizer {float:right;font-family: arial,helvetica,sans-serif;font-size: 0.625em;display:-moz-inline-block;display:-moz-inline-box;display:inline-block;vertical-align:middle;line-height:10px;padding-top:5px}

.rating-box {
	font-family: arial,helvetica,sans-serif;
	font-size: 0.625em;
	vertical-align:middle;
	line-height:5px;
	margin-left:130px;
}
.rating-box img.loading{
	vertical-align:middle
}
.kotakisi .rating{
	display:-moz-inline-block;
	display:-moz-inline-box;
	display:inline-block;
	vertical-align:middle;
	line-height:20px;
	margin-bottom:2px;
	padding-top:20px;
	height:5px;
}
.votitaly-star-rating,
.votitaly-star-rating a:hover,
.votitaly-star-rating a:active,
.votitaly-star-rating .current-rating{
background: url(../images/star.gif) left -1000px repeat-x;
}
.votitaly-star-rating{
position:relative;
width:125px;
height:25px;
overflow:hidden;
list-style:none;
margin:0;
padding:0;
background-position: left top;
}
.votitaly-star-rating li{
display: inline;
}
.votitaly-star-rating a,
.votitaly-star-rating .current-rating{
position:absolute;
top:0;
left:0;
text-indent:-1000em;
height:25px;
line-height:25px;
outline:none;
overflow:hidden;
border: none;
}
.votitaly-star-rating a:hover,
.votitaly-star-rating a:active{
background-position: left bottom;
}
.votitaly-star-rating a.one-star{
width:20%;
z-index:6;
}
.votitaly-star-rating a.two-stars{
width:40%;
z-index:5;
}
.votitaly-star-rating a.three-stars{
width:60%;
z-index:4;
}
.votitaly-star-rating a.four-stars{
width:80%;
z-index:3;
}
.votitaly-star-rating a.five-stars{
width:100%;
z-index:2;
}
.votitaly-star-rating .current-rating{
z-index:1;
background-position: left center;
}
.bersih{
	clear:both;
}
#divLeft {
	float:left;
	padding:2px;
}

#detailFooter{
	border:3px solid #f6f6f6;
	margin:0px auto;
	margin-top:4px;
	margin-bottom:6px;
}
#detailFooter {
	float:left;
	width:98%;
	margin-bottom:0px
}
#detailFooter #blokIsi {
	padding:15px;
	padding-top:7px;
	margin-bottom:0px
}
#blokWadah {
	border:1px solid #f7f7f7;
	/*border-width:0px 0px 0px 0px;*/
			padding:2px;
	padding-bottom:10px;
	background:#f7f7f7 url(../images/panel_kanan_bg.jpg) repeat-x -1px -1px;
	margin-top:0px;
}
#blokTitle {
	text-transform:uppercase;
	font-family: Arial, "trebuchet ms", Tahoma, Verdana;
	font-size:12px;
	padding:7px 2px 7px 23px;
	height:15px;
	color: #004276;
	font-weight: normal;
	overflow:hidden;
	border-bottom: 1px solid #eee  /*cccccc 71B09D eeedd8*/;
	letter-spacing: 1.5px;
	background: #FFFFFF url(../images/comment.jpg) no-repeat 5px 10px  /*f8f8f8 */;
}
#blokTitle {
	/*font-family: Arial Black, Arial, "trebuchet ms", Tahoma, Verdana;
			letter-spacing:-1px;
			font-size:12px;*/
			padding-top:7px;
	padding-bottom:7px;
	font-weight:normal;
}
#blokIsiKomen {
	font-size:11px;
	color:#666;
	padding:8px 6px 8px 6px;
	background:#f7f7f7 url(../images/panel_kanan_bg.jpg) repeat-x;
	border:1px solid #e7e7e7;
	margin-top:8px;
}
#blokIsiKomen #isiKomen {
	color: #777;margin: 6px 0 0;padding:0 0 2px;
}
#blokIsiKomen #divLeft {
	width:100px;
}

#blokIsiKomen .comment-avatar {float: left;margin: 0;padding: 0}
#blokIsiKomen .avatar-indent {padding-left: 60px}
#blokIsiKomen .comment-box {margin: 0;padding: 0; color: #999}
#blokIsiKomen .comment-anchor {color: #777; text-decoration: none; border: none}
#blokIsiKomen .comment-author {color: #3c452d;font: bold 1em Verdana, Arial, Sans-Serif;margin: 0;padding: 0}
#blokIsiKomen .comment-date {font-size: 10px;color: #999;margin: 0;padding: 0 0 0 12px;background: url(../images/jc_date.gif) no-repeat center left}
#blokIsiKomen .comment-title {color: #b01625;font: bold 1em Verdana, Arial, Sans-Serif;margin: 0;padding: 0}
#blokIsiKomen .comment-body {color: #777;margin: 6px 0 0;padding:0 0 2px}
#blokIsiKomen .comment-body img {padding: 0; border: 0 none}
#blokIsiKomen .comment-body .img {padding: 4px 0 !important; max-width: 500px}
#blokIsiKomen .comment-avatar img {width: 52px}
#blokIsiKomen .togglereplychild {
	text-align: right;
	margin-bottom: 5px;
	
}
#blokIsiKomen .childcomments {
	display: none;
}
#blokIsiKomen .commentdetails-child {
	margin: 2px 0;
	background: #EBFBFF;
	border: 1px solid #C6E1E8;
	padding: 8px 9px;
}
#blokIsiKomen .commentdetails-child .thecomment {
	border-top: 1px solid #C6E1E8;
}
#blokIsiKomen .commentdetails-child2 {
	margin: 2px 0;
	background: #FFF2F2;
	border: 1px solid #EDD7DF;
	padding: 8px 9px;
}
#blokIsiKomen .childclose {
	background-image: url(../images/komentar-tutup.gif)
}
.togglereply {
	background: url(../images/komentar-reply.gif) 0 0 no-repeat;
	padding-left: 20px;
	
}
.togglechild {
	background: url(../images/komentar-buka.gif) 0 0 no-repeat;
	padding-left: 18px;
	
}
#komentar .formkomentar {
	display: none; 
	clear: both;
}
.disclaimer {
	text-align: center;
	background-color: #ffe4e4;
	border: 1px solid #cccccc;
	font-size: 12px;
	font-weight: bold;
	padding: 5px;
	width: 75px;
	margin: 5px;
	float: right;
}
#blokIsiKomen .even, #blokIsiKomen .odd {background-image: none;color: #3c452d; margin-left: 0px;margin-bottom: 10px;padding: 0}
#blokIsiKomen .tgl {
	font-size:10px;
}
#blokIsiKomen .tombol-komen{
	height:15px;
	float:right;
}
#blokIsiKomen input, #blokIsiKomen textarea {
	font-size:12px;
	font-family:tahoma, verdana, arial;
	padding:2px 4px 2px 4px;
	margin:4px 0px 6px 0px;
	border:1px solid #ccc;
	color: #35526F
}
#blokIsiProfilTitle {
	font-weight:bold;
	font-size:11px;
	margin-bottom:8px;
	padding-bottom: 0px;
	color:#366;
}
#hr {
	height:1px;
	border-bottom:1px dotted #ccc;
	margin:6px 0px 4px 0px;
}
#divClear {
	clear:both;
	overflow: hidden;
}

/* Font-Sizer Specific Styling */

.fsizer { } /* Container element */

.fsizer a { display: block; float: right; width: 20px; margin-right: 5px; text-align: center; color: #5761a0; text-decoration: none; cursor: pointer; letter-spacing: 0; line-height: 100%; }
.fsizer a:hover { text-decoration: underline; background: #ebebeb;  }

/* Three 'A' links used to control size */

.fsizer a#fs_sml { font-size: 9px; height: 15px; padding-top: 5px; }
.fsizer a#fs_med { font-size: 13px; height: 17px; padding-top: 3px; }
.fsizer a#fs_lrg { font-size: 16px; height: 18px; padding-top: 2px; }

.fsizer a.fsactive { color: #000; background: #ebebeb; cursor: default; } /* When mode is active */

.headerMenu{
	font-family:'Lucida Grande','Lucida Sans Unicode','Lucida Sans',Helvetica,Arial,sans-serif;font-size:0.75em;
	color:#555555;
}
.headerMenu a:link,
.headerMenu a:visited{
	
	font-weight: normal;
	color:#7079A8;
	padding-top:5px;
}
.dmsAtas		{ background:url(../images/nav_tile.jpg); height:32px;}
.dmsAtasTicker	{ background:url(../images/up_tile1.jpg); height:32px;}
.atassearch		{ background:url(../images/up_tile2.jpg) top right; padding-right:10px; padding-left:5px; height:32px;	text-align:center; vertical-align:middle;}
.loginform 		{ color: #00008B; font-size: 12px; padding-left: 5px; margin-top:5px; background: url(../images/formback.jpg) repeat-x left;}
.akiriticker	{ float:left; position:relative}



#header-local-nav {
	background:url(../images/nav_tile.jpg);
	margin: 0;
	padding: 0;
	height: 32px;
	overflow: hidden;
	}
	
#header-local-nav ul#navigationlist{
	list-style-type: none;
	margin: 5px 0 0 5px;
	padding: 0;
	font-size: 13px;
	font-family: Arial, Helvetica, Verdana, Sans-serif;
	font-weight: bold;
	}
	
#header-local-nav ul#navigationlist li{
	float:right;
	margin:0;
	list-style-type: none;
	}

#header-local-nav ul#navigationlist li a {
	color: #FFFFFF;
	text-decoration: none;
	background-image: none;
	padding: 11px 14px;
	}

#header-local-nav ul#navigationlist li a.selected, 
#header-local-nav ul#navigationlist li a:hover {
	color: #B79C00; 
	text-decoration: underline;
	padding: 11px 14px;
	}

#news 	{ margin-left: 0; margin-bottom:0;  padding-left: 0; list-style: none;}
#news li 	{ padding-left: 5px; padding-top:2px; padding-bottom: 2px; list-style: none; }
#news a, #news a:visited, #news a:link  { font-size: 12px; font-family: verdana,arial,helvetica,sans-serif;	text-decoration: none; font-weight:bold;}
#news a:hover{ color:#B79C00;	text-decoration: underline;}
	
.aktual, .aktual:visited, .aktual:link  { padding:0 5px 0 5px;	cursor:pointer;	color: #333333;	font-size: 12px; font-family: verdana,arial,helvetica,sans-serif; line-height: 26px; text-decoration: none;}
.aktual:hover	{ color:#B79C00; text-decoration: underline;}
	
.footer-container
			{
				border-top: solid 5px #ffcc00;
				margin-top: 20px;
			}
			

#comments {margin: 0;padding: 0;width: 100%;text-align: left;text-decoration: none;text-transform: none;text-indent: 0}
#comments .comments-list {margin-left: 20px;height: 1%}
#comments .comments-lists {height: 1%}
#comments .even, #comments .odd {background-image: none;color: #3c452d; margin-left: 0px;margin-bottom: 10px;padding: 0}

.td_peraturan1	{ vertical-align:top; background: #FFFFFF; border:1px solid #ddd; padding: 0px 5px 0px 5px;}			
.td_peraturan2	{ vertical-align:top; background: #F1F5FA; border:1px solid #ddd; padding: 0px 5px 0px 5px;}
.td_peraturan2 h1{
	font-size: 0.875em;
	color: #003366;
	font-weight: bold;
	padding-bottom:5px;
}
.td_peraturan2 .kategori{
	color: #FFAD29;
	font-size: 12px;
}

#navlistnoline		{ margin-left: 0; margin-top: 5px; margin-bottom:0;  padding-left: 0;}
#navlistnoline li 	{ list-style: none;padding-left: 10px; background-image: url(../images/arrow02.jpg); background-repeat: no-repeat; background-position: 0 .6em;  padding-top:2px; padding-bottom: 2px; }
#navlistnoline a, #navlistnoline a:visited, #navlistnoline a:link  { color: #004276; font-size: 0.750em; text-decoration: none; font-weight:bold;}
#navlistnoline a:hover	{ color:#B79C00; text-decoration: underline;}

		#pagination {
			list-style: none;
			margin: 10px 0;
			text-align: center
		}
		#pagination li {
			background-color: #4873EF;
			display: inline;
			margin: 0 7px;
			padding: 3px
		}
		#pagination li:hover {
			text-decoration: underline;
			color:#B79C00;
		}
		#pagination li a {
			text-decoration: none;
			font-size: 0.750em;
			font-weight: bold;
			color: #fff;
		}

		#loading {
			padding: 10px;
			background: url(../images/loading_bar.gif) no-repeat
		}
		#rs { background-color: #F0FFED; border: 1px solid #215800; padding: 10px; margin-bottom: 20px; }
		

.copage {
	font-size: 0.750em;
	font-weight: normal;
	letter-spacing: 0px;
	color: #333333;
	padding-top:5px;
	padding-bottom:5px;
}

.copage a {
	color: #32326e;
	text-decoration: none;
}

.copage a:hover {
	color: #000000;
	text-decoration: underline;
}

.td_news1		{ vertical-align:top; background: #F1F5FA; float:left;}
.td_news2		{ background: #dbe6ec; border:1px solid #ddd; padding: 5px 5px 5px 5px; font-weight: bold;}
#terbaru_border .terbaru_box ul{padding:0; margin:0}
#terbaru_border .terbaru_box li{list-style:none;padding: 2px 0; border-bottom:1px solid #f5f5f5; width:308px; float:left; line-height:130%}
#terbaru_border .terbaru_box li div{width:60px; float:left; font-size: 10px;}
#terbaru_border .terbaru_box{display:none; border: 1px solid #e0e6eb; width:308px; float:left; padding: 5px 0 0 0}
#terbaru_border .active{padding:10px 10px 0 8px;display:block;}
#terbaru_border a{font-weight:bold;}
#terbaru_border a:visited{color:#2d435b}
.terbaru, .terbaru:visited, .terbaru:link  { color: #333333; font-size: 12px; text-decoration: none; font-weight:bold;}
.terbaru:hover	{ color:#B79C00; text-decoration: underline;}
.klinik_terbaru, .klinik_terbaru:visited, .klinik_terbaru:link  { color: #808080; font-size: 11px; text-decoration: none; font-weight:bold;}
.klinik_terbaru:hover	{ color:#B79C00; text-decoration: underline;}

.td_peraturan	{ vertical-align:top; background: #FFFFFF; float:left;}
.td_peraturan2	{ background: #F1F5FA; border:1px solid #ddd; padding: 5px 5px 2px 5px; font-weight: bold;}
.klinikisi{padding:10px;border:1px solid #ddd;}
.klinikisi h2{
	font-size:1em;
	text-align:left;
	font-weight: bold;
	color: #004276;
	line-height:1.25em;
	padding-top:2px;
}
.klinikisi p{
	font-size: 0.785em;
	line-height: 1.5em;
	padding-top:5px;
}
.klinikisi .author{
	font-family: arial,helvetica,sans-serif;
	color: #808080;
	font-size: 0.625em;
	line-height: 1.25em;
}
.klinikisi a {padding:0; text-decoration:none;font-size:12px;}
.klinikisi a:hover {text-decoration:underline;}

.td_peraturan1	{ vertical-align:top; background: #FFFFFF; border:1px solid #ddd; padding: 0px 5px 0px 5px;}
.judulnaik		{ color: #006699; font-weight: bold;padding: 5px 5px 2px 2px;}
.bor 			{ border-top:1px dotted #e0cb91; padding: 0 20px 0 20px;}

.c-isi{padding:2px;}
.c-isi h2{
	font-size:1em;
	text-align:left;
	font-weight: bold;
	color: #004276;
	line-height:1.25em;
	padding-top:2px;
}
.c-isi p{
	font-size: 0.785em;
	line-height: 1.5em;
	padding-top:5px;
}
.c-isi .author{
	font-family: arial,helvetica,sans-serif;
	color: #808080;
	font-size: 0.625em;
	line-height: 1.25em;
}
.c-isi a {padding:0; text-decoration:none;font-size:12px;}
.c-isi a:hover {text-decoration:underline;}
.c-isi .bb a:link,
.c-isi .bb a:visited{
	color: #808080;
	font-size: 0.625em;
	line-height: 1.5em;
	padding-top:10px;
}
.pembatas{ background:url(../images/line_yellow.jpg) repeat-x;}
.peraturan:link		{ color: #7079A8; text-decoration: none; margin-left: 10px; padding-bottom: 10px;}
.peraturan:active	{ color: #7079A8; text-decoration: none; margin-left: 10px; padding-bottom: 10px;}
.peraturan:visited	{ color: #7079A8; text-decoration: none; margin-left: 10px; padding-bottom: 10px;}
.peraturan:hover	{ color: #B79C00; text-decoration: none; margin-left: 10px; padding-bottom: 10px;} 
.peraturan 			{ color: #7079A8; text-decoration: none; margin-left: 10px; padding-bottom: 10px;}

.pdh 			{ vertical-align:bottom; padding-top:10px;}
#listnoline 	{ margin-left: 0; margin-top: 5px; margin-bottom:0;  padding-left: 0;}
#listnoline li 	{ list-style: none;padding-left: 10px; padding-top:2px; padding-bottom: 2px; }

#lilmenu			{ font-size:12px;width:360px; padding:0; line-height:15px; height:33px;}
#lilmenu div.mati 	{ color:#006699; width:122px; height:30px; margin-right:2px; line-height:30px; padding:0 20px; float:left; background: #DAE4F1;	border:1px solid #DAE4F1; position:relative; z-index:20; font-weight: bold;	cursor:pointer;}
#lilmenu div.hidup 	{ color:#7079A8; width:122px; height:30px; margin-right:2px; line-height:30px; padding:0 20px; float:left; background: #F1F5FA; border:1px solid #F1F5FA; position:relative; z-index:100; font-weight: bold;}
#lilmenu div.off 	{ color:#006699; height:30px; margin-right:2px; line-height:30px; padding:0 5px; float:left; background: #DAE4F1; border:1px solid #DAE4F1;	position:relative; z-index:20; font-weight: bold; cursor:pointer;}
#lilmenu div.on 	{ color:#7079A8; height:30px; margin-right:2px; line-height:30px; padding:0 20px; float:left; background: #F1F5FA; border:1px solid #F1F5FA; position:relative; z-index:100; font-weight: bold;}
div.tutup		{ display:none; width:0; overflow:hidden;}
div.buka 		{ clear:left; width:360px; margin-top:10px; position:relative; z-index:30; font:11px; line-height:18px;}

#rulelistnoline 	{ font-size:12px;margin:5px;}
#rulelistnoline li 	{ list-style: none;padding-left: 5px; padding-right:2px; padding-top:2px; padding-bottom: 2px; }
#rulelistnoline a, #rulelistnoline a:visited, #rulelistnoline a:link  { text-decoration: none;	font-weight:bold;}
#rulelistnoline a:hover{ color:#B79C00;	text-decoration: underline;}

.td_peraturan3	{ vertical-align:top; background: #F1F5FA; border:1px solid #ddd;}
.iklanrol	{ vertical-align:top; background: #FFFFFF; border:1px solid #ddd; float:left;padding:5px;}
.td_peraturan4	{ vertical-align:top; background: #FFFFFF; border:1px solid #ddd; padding: 0px 2px 0px 2px;}
.td_peraturan4 a {padding:0; text-decoration:none;font-size:12px;}
.td_peraturan4 a:hover {text-decoration:underline;}
.judulnaik1		{ color: #006699; font-weight: bold;padding: 5px 5px 2px 10px;}

.td_footer		{ vertical-align:top; padding: 5px 0px 5px 0px;}
.td_footer2		{ vertical-align:top; padding: 5px 0px 5px 0px;border:1px solid #ddd;}

.footnote-down	{ font-size:11px; font-family:verdana,arial,helvetica,sans-serif; margin-right: 3px; padding-bottom: 10px;}
.footnote, .footnote:active			{ color: #666666; font-size: 11px; font-family: verdana,arial,helvetica,sans-serif; margin-right: 3px; padding-bottom: 10px; text-decoration: none;}
.footnote:visited, .footnote:link	{ color: #6495ED; font-size: 11px; font-family: verdana,arial,helvetica,sans-serif; margin-right: 3px; padding-bottom: 10px; text-decoration: none;}
.footnote:hover						{ color: #B79C00; font-size: 11px; font-family: verdana,arial,helvetica,sans-serif; margin-left: 3px; margin-right: 3px; padding-bottom: 10px; text-decoration: underline;} 

.ft-isi{padding:2px;}
.ft-isi h2{
	font-size:1em;
	text-align:left;
	color: #999999;
	line-height:1.25em;
	padding-top:2px;
	padding-bottom:7px;
}
.ft-isi p{
	font-size: 0.785em;
	line-height: 1.5em;
	padding-top:5px;
}
.ft-isi .image{
	background-color: #fff; 
	padding: 2px;	
	margin: 3px 5px 1px 0;	
	border: 1px solid #e4d09b; 
	float: left;
}
.ft-isi a {padding:0; text-decoration:none;font-size:12px;color: white;}
.ft-isi a:hover {text-decoration:underline;color: #B79C00;}

#pollingline		{ margin-left: 0; margin-top: 5px; margin-bottom:0;  padding-left: 0;}
#pollingline li 	{ list-style: none;padding-left: 10px; padding-top:2px; padding-bottom: 2px; }
#pollingline a, #pollingline a:visited, #pollingline a:link  { color: #004276; font-size: 0.750em; text-decoration: none; font-weight:bold;}
#pollingline a:hover	{ color:#B79C00; text-decoration: underline;}

#panelIndex { margin:18px 6px 0px 7px; float:left; width:500px;}
#panelBerita { margin:18px 6px 0px 7px;	float:left;	width:290px;}
#panelBerita ol li { font-weight:normal; display:block; margin:0px 4px 6px -13px; color:#333; list-style: none;}
#panelBerita .jam {	color:#9e2b0c; padding-right:2px; font-size:11px;}
#panelBerita ul li { font-weight:normal; list-style:url(../images/bullet_arrow.gif) outside; margin:0px 4px 6px -13px;	color:#333;}
#panelTitle { text-transform:uppercase;	color:#000000 /* #9e2b0c */; font-weight:bold; font-size:16px; font-family:"helvetica",arial,verdana,sans-serif; padding: 0px 0px 0px 0px; border-bottom:1px solid #000000 /* #9e2b0c */; letter-spacing:-0.02em; height:22px;}
#panelTitleIndex { margin-top:6px; color:#599b9b; float:right; font-size:10px; font-weight:bold; text-transform:lowercase;}
#panelBeritaBawah {	margin-top:6px; color:#127070; font-weight:bold;}
#panelBeritaBawah img {	border:1px solid #888; padding:2px; float:left; margin:0px 8px 6px 0px;}
#panelBeritaBawah ul li, #panelBeritaBawah ol li { margin-left:1px; clear:both; list-style:none;}
#index_jam { float:left}
#index_berita { float:left;	padding-left:5px; width:210px;	margin-bottom: 5px;}
#panelRubrik { margin:16px 0px 0px 5px;	float:left;	width:925px;}
#panelRubrik ol li { font-weight:normal; display:block; margin:0px 4px 6px -32px; color:#333; text-transform:capitalize;}
#panelRubrik .jam {	color:#599b9b; padding-right:8px; font-size:11px;}
#panelRubrik ul li { font-weight:normal; list-style:url(../images/dunia/bullet_arrow.gif) outside;	margin:0px 4px 6px -13px; color:#333; text-transform:capitalize;}
#index_panah { width:55px; float:left; margin-bottom:10px;}
#index_rubrik {	float:left;	margin-bottom:3px;}

.kaber, .kaber:visited, .kaber:link  { cursor:pointer;	color: #333333;font-family: verdana,arial,helvetica,sans-serif; text-decoration: none; font-weight:bold;}
.kaber:hover	{ color:#B79C00; text-decoration: underline;}
	
#kategoriRubrik { margin:16px 0px 0px 5px;	float:left;	width:650px;}
#kategoriRubrik ol li { font-weight:normal; display:block; margin:0px 4px 6px -32px; color:#333; text-transform:capitalize;}
#kategoriRubrik .jam {	color:#599b9b; padding-right:8px; font-size:11px;}
#kategoriRubrik ul li { font-weight:normal; list-style:url(../images/dunia/bullet_arrow.gif) outside;	margin:0px 4px 6px -13px; color:#333; text-transform:capitalize;}
#kategoriTitle { text-transform:uppercase;	color:#000000 /* #9e2b0c */; font-weight:bold; font-size:16px; font-family:"helvetica",arial,verdana,sans-serif; padding: 0px 0px 0px 0px; border-bottom:1px solid #000000 /* #9e2b0c */; letter-spacing:-0.02em; height:22px;}

.kategoriisi{padding:10px;}
.kategoriisi h2{
	font-size:1em;
	text-align:left;
	font-weight: bold;
	color: #004276;
	line-height:1.25em;
}
.kategoriisi p{
	font-size: 0.885em;
	line-height: 1.5em;
	padding-bottom:5px;
}
.kategoriisi .imagekategori{ 
	background-color: #fff; 
	padding:2px; 
	margin: 5px 5px 5px 0px;	
	border: 1px solid #e4d09b; 
	float: left;
}
.kategoriisi .tanggalterbit{
	font-family: arial,helvetica,sans-serif;
	color: #808080;
	font-size: 0.625em;
	line-height: 1.25em;
	padding-top:3px;
	padding-bottom:5px;
}
.kategoriisi a {padding:0; text-decoration:none;font-size:12px;}
.kategoriisi a:hover {text-decoration:underline;color: #B79C00;}

#kliniknav		{ margin-left: 0; margin-top: 5px; margin-bottom:0;  padding-left: 0;}
#kliniknav li 	{ list-style: none;padding-left: 15px; background-image: url(../images/arrow_right.gif); background-repeat: no-repeat; background-position: 0.5px;  padding-top:2px; padding-bottom: 2px; }
#kliniknav a, #kliniknav a:visited, #kliniknav a:link  { color: #004276; font-size: 0.750em; text-decoration: none; font-weight:bold;}
#kliniknav a:hover	{ color:#B79C00; text-decoration: underline;}

#kpnav		{ margin-left: 0; margin-top: 5px; margin-bottom:0;  padding-left: 0;}
#kpnav li 	{ list-style: none;padding-left: 20px; background-image: url(../images/list_extensions.gif); background-repeat: no-repeat; background-position: 0.5px;  padding-top:2px; padding-bottom: 2px; }
#kpnav a, #kpnav a:visited, #kpnav a:link  { color: #004276; font-size: 0.750em; text-decoration: none; font-weight:bold;}
#kpnav a:hover	{ color:#B79C00; text-decoration: underline;}

fieldset {padding-left:10px;padding-bottom:10px;border:1px solid #ccc;}
legend {font-weight:bold;padding-bottom:5px;}

.klinikterbaruisi{padding:5px;}
.klinikterbaruisi h2{
	font-size:1em;
	text-align:left;
	font-weight: bold;
	color: #004276;
	line-height:1.25em;
	padding-top:2px;
	padding-left: 20px; 
	background-image: url(../images/list_extensions.gif); background-repeat: no-repeat; background-position: 0.5px;
}
.klinikterbaruisi p{
	font-size: 0.785em;
	line-height: 1.5em;
	padding-top:5px;
	padding-bottom:1px;
}
.klinikterbaruisi .author{
	font-family: arial,helvetica,sans-serif;
	color: #808080;
	font-size: 0.625em;
	line-height: 1.25em;
	padding-bottom:5px;
}
.klinikterbaruisi .kategori{
	color: #FFAD29;
	font-size: 0.750em;
}
.klinikterbaruisi a {padding:0; text-decoration:none; font-size: 0.750em;}
.klinikterbaruisi a:hover {text-decoration:underline;}

.mitraisi{padding:5px;}
.mitraisi h2{
	font-size:1em;
	text-align:left;
	font-weight: bold;
	color: #004276;
	line-height:1.25em;
	padding-top:2px;
}
.mitraisi p{
	font-size: 0.785em;
	line-height: 1.5em;
	padding-top:5px;
	padding-bottom:1px;
}
.mitraisi a {padding:0; text-decoration:none; font-size: 0.750em;}
.mitraisi a:hover {text-decoration:underline;}
.mitraisi .image{
	background-color: #fff; 
	padding: 2px;	
	margin: 5px 10px 13px 0px;	
	float: left;
}

.klideisi{padding:10px;}
.klideisi h2{
	font-size:0.750em;
	text-align:left;
	font-weight: bold;
	color: #004276;
	line-height:1.25em;
	padding-top:2px;
}
.klideisi p{
	font-size: 0.785em;
	line-height: 1.5em;
	padding-top:5px;
	padding-bottom:1px;
}
.klideisi .author{
	font-family: arial,helvetica,sans-serif;
	color: #808080;
	font-size: 12px;
	line-height: 1.25em;
	padding-bottom:5px;
}
.klideisi .kategori{
	color: #FFAD29;
	font-size: 12px;
}
.klideisi .q{
	color: #333333; 
	font-size: 12px; 
	line-height: 16px;
	padding-top:10px;
	padding-bottom: 1px;
	font-weight:bold;
}
.klideisi .q2{
	color: #333333; 
	font-size: 0.715em; 
	line-height: 16px;	
}

#peraturan .link:link		{ color: #333333; font-size: 12px; text-decoration: none;}
#peraturan .link:active		{ color: #333333; font-size: 12px; line-height: 14px; margin-top: 0px;	text-decoration: none;}
#peraturan .link:visited	{ color: #333333; font-size: 12px; line-height: 14px; margin-top: 0px;	text-decoration: none;}
#peraturan .link:hover		{ color: #B79C00; font-size: 12px; line-height: 14px; margin-top: 0px;	text-decoration: underline;}
#peraturan .link 			{ color: #333333; font-size: 12px; line-height: 14px; margin-top: 0px;	text-decoration: none;}

#nlrulenoline		{ margin-left: 0; margin-top: 5px; margin-bottom:0;  padding-left: 0;}
#nlrulenoline li 	{ list-style: none;padding-left: 25px; background-image: url(../images/doc-s.png); background-repeat: no-repeat; background-position: 0 .6em;  padding-top:5px; padding-bottom: 5px; }
#nlrulenoline a, #nlrulenoline a:visited, #nlrulenoline a:link  { color: #004276; font-size: 0.750em; text-decoration: none; font-weight:bold;}
#nlrulenoline a:hover	{ color:#B79C00; text-decoration: underline;}


h4 {font-size:1em;font-weight:bold;line-height:1.25;margin-bottom:1.25em;}
h5 {font-size:1em;font-weight:bold;margin-bottom:1.5em;}
.hold{
	padding:10px 0;
}
.hold .p1{
	width:610px;float:left;margin-right:10px;font-size:12px;	
}
.hold .p2{
	width:270px;float:left;
}
.hold .p3{
	width:330px;float:left;
}
.hold .p4{
	width:30px;float:left;
}
.hold .p5{
	width:390px;float:left;
}
.p5 a {padding:0; text-decoration:none;}
.p5 a:hover {color:#B79C00;text-decoration:underline;}

.hold .p6{
	width:70px;float:left;
}
#holdline		{ margin-left: 0; margin-top: 5px; margin-bottom:0;  padding-left: 0;}
#holdline li 	{ list-style: none;padding-left: 25px; background-image: url(../images/folder.png); background-repeat: no-repeat; background-position: 0 .2em;  padding-top:2px; padding-bottom:2px; }
#holdline a, #holdline a:visited, #holdline a:link  { color: #004276; font-size: 12px; text-decoration: none;}
#holdline a:hover	{ color:#B79C00; text-decoration: underline;}

#docline		{ margin-left: 0; margin-top: 5px; margin-bottom:0;  padding-left: 0; font-size: 12px;}
#docline li 	{ list-style: none;padding-top:2px; padding-bottom:2px; }
#docline a, #docline a:visited, #docline a:link  { color: #004276; text-decoration: none;}
#docline a:hover	{ color:#B79C00; text-decoration: underline;}

#dhline		{ margin-left: 0; margin-top: 5px; margin-bottom:0;  padding-left:20px;padding-right:10px; font-size: 12px;}
#dhline li 	{ padding-top:2px; padding-bottom:2px; }
#dhline a, #dhline a:visited, #dhline a:link  { color: #004276; text-decoration: none;}
#dhline a:hover	{ color:#B79C00; text-decoration: underline;}

#ppline		{ margin-left: 0; margin-top: 5px; margin-bottom:0;  padding-left: 20px;padding-right:10px; font-size: 12px;}
#ppline li 	{ list-style: decimal;padding-top:2px; padding-bottom:2px; }
#ppline a, #ppline a:visited, #ppline a:link  { color: #004276; text-decoration: none;}
#ppline a:hover	{ color:#B79C00; text-decoration: underline;}

.td_peraturan5	{ vertical-align:top; background: #FFFFFF; padding: 0px 5px 0px 5px;}

#related {
	clear:left;
	top:300px;
	position: inherit;
	margin:0px 0px 18px 10px;
	float:left;
}
#related_selip {
	float:left;
	font-size:11px;
	margin:5px 8px 5px 0px;
	padding: 0px 0px 6px 0px;
}
#related_selip #title {
	padding:4px 3px 5px 5px;
	font-weight:bold;
	text-transform: capitalize;
	color:#666666;
	font-size:10px;
	margin: 0px 0px 10px 0px;
	letter-spacing:0px;
}
#related_selip ul {
	margin-top:0px;
	color:#ccc;
	list-style: disc;
}
#related_selip a {
	color:#555 /*478DC0*/;
	text-decoration:none;
	font-weight:bold;
	letter-spacing:0px;
}
#related_selip li {
	border-bottom:1px dotted #eee;
	padding:5px 2px 5px 4px;
	margin-left:18px;
	margin-right:5px;
	line-height:13px;
}
#related_selip li:hover {
	background: #F8F8F8;
	color:#6b6b6b;
	list-style:circle;
}
#related_selip li a:hover, #related_selip li:hover a {
	color:#000;
	text-decoration: underline;
}
#mline		{ margin-left: 0; margin-top: 5px; margin-bottom:0;  padding-left: 0;}
#mline a, #mline a:visited, #mline a:link  { color:#F0F8FF; font-size: 0.750em; text-decoration: none; font-weight:bold;}
#mline a:hover	{ color:#B79C00; text-decoration: underline;}

.a-left{text-align:left;}
.a-center{text-align:center;}
.a-right{text-align:right;}
.cart-price{padding-right:10px;}
.price{white-space:nowrap !important;font-size:0.750em;}


table.data-table{width:90% !important;}
.data-table{border:1px solid #bebcb7;width:100%;}

.data-table tr{background:#fff;}

.data-table .odd{background:#f9f9f9}

.data-table .even{background:#fcfcfc !important;}

.data-table td.last, .data-table th.last{border-right:0;}

.data-table tr.last th, .data-table tr.last td{border-bottom:0 !important;}

.data-table th{border-right:1px solid #bed327;padding:4px 8px;color:#0a263c;white-space:nowrap;}

.data-table th.wrap{white-space:normal;}

.data-table th a, .data-table th a:hover{color:#fff;}

.data-table td{padding:3px 8px;vertical-align:top;}

.data-table thead tr th{background:url(../images/data_table_th_bg.gif) repeat-x 0 100% #deec7d;}

.data-table tfoot{border-bottom:1px solid #d9dde3;width:100%;margin:0;background:#ffffff url('../images/bg_grand_total.png') no-repeat bottom right;}

.data-table tfoot tr.first{background:url(../images/base_mini_actions_bg.gif) 0 0 repeat-x;}

.data-table tfoot tr{background-color:#DEE5E8 !important;}

.data-table tfoot td{padding-top:1px;padding-bottom:1px;border-bottom:0;border-right:1px solid #d9dde3;}

.data-table tbody td{border-bottom:1px solid #d9dde3;border-right:1px solid #d9dde3;}

.data-table tbody.odd tr{background:#f8f7f5 !important;}

.data-table tbody.even tr{background:#f6f6f6 !important;}

.data-table tbody.odd tr td, .data-table tbody.even tr td{border-bottom:0;}

.data-table tbody.odd tr.border td, .data-table tbody.even tr.border td{border-bottom:1px solid #d9dde3;}

.data-table tbody td h5.title{margin:0;padding:0;font-size:1em;font-weight:bold;color:#2f2f2f;}

.data-table tbody td .option-label{font-weight:bold;font-style:italic;}

.data-table tbody td .option-value{padding-left:10px;}
.box-table td{padding:10px;}

.box-table tfoot td{padding-top:5px;padding-bottom:5px;}

.box-table select{width:100%;}
.shopping-cart{margin-bottom:0;}

.shopping-cart th, .shopping-cart td{padding-left:13px;padding-right:4px;}

.shopping-cart th .tax-flag{font-size:0.9em;font-weight:normal;display:block;}

.shopping-cart tr.error{background:#FDE6E0 !important;}

.shopping-cart .continue-shopping{float:left;}

td.attributes-col{line-height:1.4em;vertical-align:middle;}

td.attributes-col ul{margin:5px 0;font-size:.95em;}

td.attributes-col dt{margin-top:.5em;}

td.attributes-col dd ul{margin:0 0 5px 0;list-style:disc;}

td.attributes-col dd ul li{margin-left:15px;}

td.attributes-col h4.title{padding:0;margin:0;font-size:0.750em;color:#2f2f2f;width:100%;overflow:hidden;}

td.attributes-col h4.title a{font-weight:bold;}

td.attributes-col h5.delink{padding:0;margin:0;font-size:11px;width:100%;overflow:hidden;}
.cursorPointer{cursor:pointer !important;}

.shopping-cart-totals{text-align:right;margin-top:0;}

.shopping-cart-totals table{width:100%;margin:0;background:#ffffff url('../images/bg_grand_total.png') no-repeat bottom right;}

.shopping-cart-totals td{padding:0 2px;}

.shopping-cart-totals td span.price{padding-right:13px;}

.shopping-cart-totals tr.last td{}

.shopping-cart-totals tfoot td{font-size:14px;border:none!important;}

.shopping-cart-totals .checkout-types{padding:8px 15px 15px;}

.shopping-cart-totals .checkout-types li{clear:both;margin:10px 0;list-style:none;}

#shopping-cart-totals-table tr.grand-total td{height:51px;color:#32286c;vertical-align:middle;}

#shopping-cart-totals-table tr.grand-total td span.price{font-size:18px;}

#shopping-cart-table td{vertical-align:top;}

#shopping-cart-table{border:0;width:716px;}

#shopping-cart-table.data-table td.last, #shopping-cart-table.data-table th.last{border-right:1px solid #cacaca;}

#shopping-cart-table.data-table thead th{background-color:#efefef;background-image:none;color:#525151;font-size:12px;text-transform:uppercase;border:0;border-bottom:1px solid #ffffff;padding:8px 5px;}

#shopping-cart-table.data-table tbody td{background-color:#ffffff;border:0;border-top:1px solid #cacaca;}

#shopping-cart-table.data-table tr.first, #shopping-cart-table.data-table tr{border-left:1px solid #cacaca;}

#shopping-cart-table.data-table tr.last, #shopping-cart-table.data-table tr{border-bottom:1px solid #cacaca;}

#shopping-cart-table .form-button-alt{background-color:#ffffff;background-image:none;border:0;height:22px;padding:0;}

.col-summary #shopping-cart-table.data-table td.last, .col-summary #shopping-cart-table.data-table th.last, .col-summary #shopping-cart-table.data-table tr.first, .col-summary #shopping-cart-table.data-table tr.last, .col-summary #shopping-cart-table.data-table tr{border:none;}

.col-summary #shopping-cart-table.data-table tfoot tr{background-color:none !important;}
.shopping-cart-collaterals{width:314px;padding:0;}

.shopping-cart-collaterals .box{margin-bottom:18px;padding:12px 15px;border:1px solid #D0CBC1;background:url(../images/base_mini_head_bg.gif) repeat-x #fff;}

.shopping-cart-collaterals .box .form-button{margin-left:5px;}

.shopping-cart-collaterals .discount-codes h4, .shopping-cart-collaterals .shipping-estimate h4{min-height:16px;color:#e26703;background-repeat:no-repeat;background-position:0 0;padding:1px 0 1px 0px;text-transform:uppercase;}

.shopping-cart-collaterals .discount-codes h4{background-image:url(../images/icon_asterick.gif);padding-left:23px;}

.shopping-cart-collaterals .shipping-estimate label.lbl_form{width:57px;display:inline-block}

.shopping-cart-collaterals .shipping-estimate .input-text{width:212px;}

.shopping-cart-collaterals .shipping-estimate select{width:220px;}

.shopping-cart-collaterals .upsell{width:42.5%;border:1px solid #cec3b6;padding:12px 15px;background:transparent;}

.shopping-cart-collaterals .upsell .product-image{float:left;width:75px;border:1px solid #d0cdc9;}

.shopping-cart-collaterals .upsell .product-shop{width:170px;margin-bottom:10px;}

.shopping-cart-collaterals .upsell .product-shop h5{font-size:1em;}

.grand_total{width:auto;margin-top:15px;border:1px solid #BEBCB7;background:#DEE5E8;font-size:1.3em !important;font-weight:bold;text-align:right;}

tr.grand_total td, p.grand_total{padding-top:5px;padding-bottom:5px;}


.ui-icon { width: 16px; height: 16px; background-image: url(images/ui-icons_222222_256x240.png); }

.ui-icon-alert { background-position: 0 -144px; }
