body,div,p,pre,input,select, button, textarea{
	font: normal 11px tahoma, arial, helvetica, sans-serif;
}

.settings { background-image:url(../images/default/silk/icons/folder_wrench.png); height:20px; width:20px; }
.detail-south { background-image:url(../images/default/silk/icons/application_osx.png); !important; }
.nav { background-image:url(../images/default/silk/icons/folder_go.png); height:20px; width:20px; }
.gs { background-image:url(../images/default/silk/icons/script_gear.png); height:20px; width:20px; }
.dei { background-image:url(../images/default/silk/icons/transmit_blue.png); !important; }
.dialog { background-image:url(../images/default/custom/monitor.png); !important; }
.home { background-image:url(../images/default/custom/home.png); !important; }
.login { background-image: url(../images/default/custom/login.gif) !important; }
.legend { background-image: url(../images/default/custom/legend.gif) !important; }
.find { background-image: url(../images/default/custom/filefind.png) !important; }
.master { background-image: url(../images/default/silk/icons/database.png) !important; }
.mfolder { background-image: url(../images/default/silk/icons/folder.png) !important; }
.viewer { background-image: url(../images/default/silk/icons/application.png) !important; }
.calendar { background-image: url(../images/default/silk/icons/calendar.png) !important; }
.preview-bottom { background-image: url(../images/default/custom/preview-bottom.gif) !important; }
.preview-right { background-image: url(../images/default/custom/preview-right.gif) !important; }
.preview-hide { background-image: url(../images/default/custom/preview-hide.gif) !important; }
.catalog { background-image: url(../images/default/silk/icons/application_home.png) !important; }
.catalog_edit { background-image: url(../images/default/silk/icons/application_edit.png) !important; }
.catalog_upload { background-image: url(../images/default/silk/icons/application_get.png) !important; }
.new-tab { background-image: url(../images/default/custom/new_tab.gif) !important; }
.new-win { background-image: url(../images/default/custom/go-to-post.gif) !important; }
.relation { background-image: url(../images/default/silk/icons/link.png) !important; }
.tabs { background-image: url(../images/default/custom/tabs.gif) !important; }
.search { background-image: url(../images/default/silk/icons/find.png) !important; }
.privileges { background-image: url(../images/default/silk/icons/brick.png) !important; }
.user { background-image: url(../images/default/silk/icons/user.png) !important; }
.email { background-image: url(../images/default/silk/icons/email.png) !important; }
.banner { background-image: url(../images/default/silk/icons/box.png) !important; }
.send { background-image: url(../images/default/silk/icons/email_go.png) !important; }
.user_edit { background-image: url(../images/default/silk/icons/user_edit.png) !important; }
.user_delete { background-image: url(../images/default/silk/icons/user_delete.png) !important; }
.report { background-image: url(../images/default/silk/icons/report.png) !important; }
.config { background-image: url(../images/default/silk/icons/anchor.png) !important; }
.site { background-image: url(../images/default/silk/icons/lorry.png) !important; }
.indexing { background-image: url(../images/default/silk/icons/cog.png) !important; }
.ext-mb-download { background:transparent url(../images/default/custom/download.gif) no-repeat top left;}
.exprt { background-image: url(../images/default/custom/xls.gif) !important; }
.icon-info { background-image: url(../images/default/silk/icons/information.png) !important; }
.download { background-image: url(../images/default/silk/icons/basket_put.png) !important; }

.leaf .x-tree-node-icon { background:transparent url(../images/default/silk/icons/page.png) no-repeat scroll 0%; height:16px; width:16px;}
.gallery .x-tree-node-icon { background:transparent url(../images/default/silk/icons/group_gear.png) no-repeat scroll 0%; height:16px; width:16px;}
.users .x-tree-node-icon { background:transparent url(../images/default/silk/icons/user.png) no-repeat scroll 0%; height:16px; width:16px;}
.email .x-tree-node-icon { background:transparent url(../images/default/silk/icons/email_go.png) no-repeat scroll 0%; height:16px; width:16px;}

.loading-indicator {
    font-size:11px;
    background-image:url(../images/default/grid/loading.gif);
    background-repeat: no-repeat;
    background-position:top left;
    padding-left:20px;
	height:18px;
	text-align:left;
}

#doc-body .loading-indicator {
  padding: 10px 10px 10px 38px;
  font-family: Tahoma,Verdana,Arial,Helvetica,sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: normal;
  font-size-adjust: none;
  font-stretch: normal;
  position: absolute;
  top: 35%;
  left: 43%;
  color: #444444;
  background-image: url(../images/default/shared/large-loading.gif);
  background-repeat: no-repeat;
  background-position: left 5px;
  text-align: left;
}
#loading-mask{
	position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    z-index:20000;
    background-color:white;
}
#loading{
  padding: 2px;
  position: absolute;
  left: 37%;
  top: 30%;
  z-index: 20001;
  height: auto;
}
#loading-msg {
	font: normal 10px arial,tahoma,sans-serif;
}
#loading a {
	color:#225588;
}
#loading .loading-indicator{
  margin: 0;
  padding: 10px;
  background: transparent none repeat scroll 0% 35%;
  color: #444444;
  font-family: tahoma,arial,helvetica;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: normal;
  font-size-adjust: none;
  font-stretch: normal;
  text-align: center;
  height: auto;
  border-color:#A3BAE9 #DFE8F6 #DFE8F6 #A3BAE9;
  border-style:solid;
  border-width:1px;
  width: 230px;
}

.info{
	border-top:solid gray 1px;
	border-left:solid gray 1px;
	border-right:solid #555555 2px;
	border-bottom:solid #555555 2px;
	padding:0px;
	margin:3px;
	background-color:white;
	color: #555555;
}
.info .x-layout-panel-hd{
	border-style: none;
}
.info .body{
	padding: 5px;
	font-size: 11px;
}
.info .header{
	background-repeat: no-repeat;
	background-position: right;
	padding-right: 16px;
	margin-right: 3px;
	overflow: hidden;
}

#actions-panel{
	overflow:auto;
	<!--background-color: #8B93B2;-->
}

.x-unselectable, .x-unselectable * {
    -moz-user-select: none;
    -khtml-user-select: none;
}

.x-layout-panel-hd-text{
    font:normal 11px tahoma, verdana, helvetica;
    padding: 4px;
    padding-left: 4px;
    display:block;
	white-space:nowrap;
}

.x-layout-panel-hd{
    background-image: url(../images/default/layout/panel-title-light-bg.gif);
    color: black;
    border-bottom:1px solid #98c0f4;
    position:relative;
}

.x-layout-expand-north,.x-layout-collapse-south{
    background-image:url(../images/default/layout/ns-expand.gif);
}

.x-layout-expand-west,.x-layout-collapse-east{
    background-image:url(../images/default/layout/expand.gif);
}

/*
.x-toolbar{		
	border:0 none;
	background: #E2ECF8;
	padding:3px 2px 1px 2px;
	border-bottom:1px solid #c0d7f4;
}
*/

/* Bordercolor */
.bordercolor  { background-color: #6394BD; width:600px; border-right:2px solid #DEE7EF;border-bottom:2px solid #DEE7EF;}
/* Farbe und Schrift der Tabellen */
td.header {background-color:#6394BD; font-family:Tahoma,Verdana,Arial; font-size:14pt; color:#FFFFFF; font-weight: bold; text-align:center;}
td.oben {background-color:#6394BD; font-family:Verdana,Arial; font-size:8pt; color:#FFFFFF; font-weight: bold; background-image:url("../images/default/layout/oben.jpg");}
td.w {background-color:#FFFFFF; font-family:Verdana,Arial; font-size:8pt; color:#222222; font-weight: normal;}
td.g {background-color:#DEE7EF; font-family:Verdana,Arial; font-size:8pt; color:#222222; font-weight: normal;}

/* Formate der Eingabefelder und Buttons */
.txt {font-size:8pt; font-family:Verdana,Arial;}
.btn {font-size:8pt; font-family:Verdana,Arial;}
